---
layout: default
---
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<blockquote cite="John Muir">
  <p>This grand show is eternal. It is always sunrise somewhere; the dew is never dried all at once; a shower is forever falling; vapor is ever rising. Eternal sunrise, eternal dawn and gloaming, on sea and continents and islands, each in its turn, as the round earth rolls.</p>
  <footer>--John Muir, <cite>John of the Mountains: The Unpublished Journals of John Muir</cite></footer>
</blockquote>

<h1 class="gallery-title">Cityscape</h1>
  <div class="row">
    <div class="column">
      <a data-fancybox="cityscape" href="/photos/cityscape/Munich.jpg" data-caption="Merien Platz, Old Town Munich">
          <img src="/photos/cityscape/thumb/thumb_Munich.jpg">
        </a>
      <a data-fancybox="cityscape" href="/photos/cityscape/bkfirework.jpg" data-caption="Dubai downtown firework show, 2015">
          <img src="/photos/cityscape/thumb/thumb_bkfirework.jpg">
        </a>
      <a data-fancybox="cityscape" href="/photos/cityscape/HK1.jpg" data-caption="Hong Kong island">
          <img src="/photos/cityscape/thumb/thumb_HK1.jpg">
        </a>
      <a data-fancybox="cityscape" href="/photos/cityscape/boudinath.jpg" data-caption="Boudinath Temple, Kathmandu">
          <img src="/photos/cityscape/thumb/thumb_boudinath.jpg">
        </a>
    </div>
    <div class="column">
      <a data-fancybox="cityscape" href="/photos/cityscape/dubaibus.jpg" data-caption="Dubai business district, in fog">
          <img src="/photos/cityscape/thumb/thumb_dubaibus.jpg">
        </a>
      <a data-fancybox="cityscape" href="/photos/cityscape/dubaimarina.jpg" data-caption="Dubai marina district, in fog">
          <img src="/photos/cityscape/thumb/thumb_dubaimarina.jpg">
        </a>
      <a data-fancybox="cityscape" href="/photos/cityscape/HK2.jpg" data-caption="Kowloon, Hong Kong SAR">
          <img src="/photos/cityscape/thumb/thumb_HK2.jpg">
        </a>
      <a data-fancybox="cityscape" href="/photos/cityscape/lafenice.jpg" data-caption="Teatro-La-Fenice, Venice">
          <img src="/photos/cityscape/thumb/thumb_lafenice.jpg">
        </a>
    </div>
    <div class="column">
      <a data-fancybox="cityscape" href="/photos/cityscape/dubaipalm.jpg" data-caption="Dubai palm island, in fog">
          <img src="/photos/cityscape/thumb/thumb_dubaipalm.jpg">
        </a>
      <a data-fancybox="cityscape" href="/photos/cityscape/esb.jpg" data-caption="New York midtown">
          <img src="/photos/cityscape/thumb/thumb_esb.jpg">
        </a>
      <a data-fancybox="cityscape" href="/photos/cityscape/dbbltower.jpg" data-caption="Dubai downtown">
          <img src="/photos/cityscape/thumb/thumb_dbbltower.jpg">
        </a>
      <a data-fancybox="cityscape" href="/photos/cityscape/venice.jpg" data-caption="Venice">
          <img src="/photos/cityscape/thumb/thumb_venice.jpg">
        </a>
    </div>
  </div>

<br>
<h1 class="gallery-title">Natural History</h1>

  <div class="row">
    <div class="column">
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/pillensberg.jpg" data-caption="Pillensberg National Park, RSA">
        <img src="/photos/naturalhistory/thumb/thumb_pillensberg.jpg">
      </a>
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/osameadow.jpg" data-caption="Osa Meadow, CA">
        <img src="/photos/naturalhistory/thumb/thumb_osameadow.jpg">
      </a>
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/Bahamas.jpg" data-caption="Great Harbour Cay Marina, Bahamas">
        <img src="/photos/naturalhistory/thumb/thumb_Bahamas.jpg">
      </a>
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/abc1.jpg" data-caption="Valley, Annapurnna Range, Nepal">
        <img src="/photos/naturalhistory/thumb/thumb_abc1.jpg">
      </a>
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/tentskili.jpg" data-caption="Kilimanjaro, Tanzania">
        <img src="/photos/naturalhistory/thumb/thumb_tentskili.jpg">
      </a>
    </div>
    <div class="column">
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/aurora1.jpg" data-caption="Northern light in the wild, Sweden">
        <img src="/photos/naturalhistory/thumb/thumb_aurora1.jpg">
      </a>
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/aurora2.jpg" data-caption="Northern light in the wild, Sweden">
        <img src="/photos/naturalhistory/thumb/thumb_aurora2.jpg">
      </a>
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/aurora3.jpg" data-caption="Northern light in the wild, Sweden">
        <img src="/photos/naturalhistory/thumb/thumb_aurora3.jpg">
      </a>
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/annapurnna.jpg" data-caption="Peak, Annapurnna Range, Nepal">
        <img src="/photos/naturalhistory/thumb/thumb_annapurnna.jpg">
      </a>
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/wilderkaiser.jpg" data-caption="Wilder Kaiser Range, Austria">
        <img src="/photos/naturalhistory/thumb/thumb_wilderkaiser.jpg">
      </a>
    </div>
    <div class="column">
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/jizo.jpg" data-caption="Jizo statue, Kyoto, Japan">
        <img src="/photos/naturalhistory/thumb/thumb_jizo.jpg">
      </a>
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/KTGarden.png" data-caption="Moss garden, Kyoto, Japan">
        <img src="/photos/naturalhistory/thumb/thumb_KTGarden.png">
      </a>
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/mossgdn.jpg" data-caption="Moss garden, Kyoto, Japan">
        <img src="/photos/naturalhistory/thumb/thumb_mossgdn.jpg">
      </a>
      <a data-fancybox="naturalhistory" href="/photos/naturalhistory/niagarafall.jpg" data-caption="Niagara Fall, NY">
        <img src="/photos/naturalhistory/thumb/thumb_niagarafall.jpg">
      </a>
    </div>
  </div>
