---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.projects.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.projects reversed -%}
      <li>
        <div class="row">
          <div class="column">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {{ post.excerpt }}
          </div>
          <div class="column" style="margin-left:100px; aligns: center">
            <img height="400px" src="https://github.com/isVoid/isvoid.github.io/blob/master/_projects/assets/{{post.titleimage}}?raw=true" alt="poster" style="max-height:200px; width:auto; height:auto"/>
          </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
